<!-- About page -->
<div class="about">
    <h1>{{title}}</h1>

    <h3>Currently in Computer Programming</h3>
    <h3>From Barrie, Ontario</h3>
    <h3>I like JavaScript, Java, and Databases</h3>
    <h3>I have a dog named Millie</h3>
    <h3>I currently volunteer as a Peer Responder at RVH</h3>

</div>