<div class="contact">
    <h2>{{title}}</h2>
    <h4>Cell Phone: 705-796-0419</h4>
    <h4>School Email: 200441180@student.georgianc.on.ca</h4>
    <h4>Github: https://github.com/TJSherw</h4>
    <h4>LinkedIn: https://www.linkedin.com/in/tj-sherwood/</h4>
</div>