<!-- Home Page -->

<div class="homePage">

    <h2>Welcome to My Personal Portfolio</h2>

   <!-- pictures were not working 
<div class="profilePicture">
    <img src="./public/images/picture.png" alt="logo" class="logo">
</div>
-->

    <h3>Throughout this Website, you will discover who I am and my previous projects</h3>

    <div class="quote">
        <h4>My Favourite Quote</h4>
        <p>"It's not who I am underneath, but what I do that defines me" - Bruce Wayne</p>
    </div>
</div>