<!-- Projects Page -->
<div class="project">
    <h1>{{title}}</h1>
    
    <h3>With my most recent Co-op, Project: Human City, I developed a webpage for their learning management system.</h3>
    <h3>Created a Supplement Store Website using ASP.NET</h3>
    <h3>Created my own Personal Website for Sherwood Company Limited</h3>
    <h3>Created a Black Jack Game using C#</h3>

</div>